{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "commands": "./src/commands",
          "config": "./src/config",
          "domain": "./src/domain",
          "handlers": "./src/handlers",
          "interfaces": "./src/interfaces",
          "models": "./src/models",
          "services": "./src/services",
          "presenters": "./src/presenters"
        }
      }
    ]
  ]
}
